<div class="nav-wrapper" style="background: white;height: 5em;"></div>
<ion-app> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select</title>
</head>
<ion-header class="header">
    <!-- <ion-navbar class="navbar"> -->
    <ion-title>
        <ion-icon src="../assets/notification-bell.svg" class="bell"  (click)="notifications()">
        </ion-icon>
        <div class="ion-text-center">
            <img src="../assets/top-right-logo.svg" class="logo">
        </div>
    </ion-title>
    <!-- </ion-navbar> -->
</ion-header>


<!-- <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
   <ion-title>
     <ion-icon src="../../assets/bell.svg" (click)="notifications()" class="bell">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" class="logo">
      </div>
    </ion-title>
</ion-header> -->
<div class="white"></div>
<ion-content overflow-scroll="true">
  <div class="container">
    <h1 class="ion-text-center">FAQs</h1>
    <br>
    <!-- <div class="accordion" id="accordionExample"> -->
      <!-- <div class="accordion-item" *ngFor="let result of faqs_data let i=index" (click)=changeselected(i)>
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne{{result?.question}}" aria-expanded="false" aria-controls="collapseOne{{result?.question}}">
            {{result?.question}}
          </button>
        </h2>
        <div >
          <div id="collapseOne{{result?.question}}" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            {{selected}}
            <div class="accordion-body">
              <ion-text> {{result?.answer}}</ion-text>
            </div>
          </div>
        </div>
     
      </div> -->
      <!-- <div class="accordion-item" *ngFor="let result of faqs_data let i=index">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            {{result?.question}}
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ion-text> {{result?.answer}}</ion-text>
          </div>
        </div>
      </div> -->
      <!-- <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Question #3
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ion-text>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, vero numquam. Dolor pariatur numquam facilis officia impedit, et autem. Sed necessitatibus doloremque esse temporibus ducimus suscipit accusamus in obcaecati quam!</ion-text>
          </div>
        </div>
      </div> -->
    <!-- </div> -->
  <div *ngFor="let result of faqs_data; let i = index" class="accordion-item">
    <div class="flex-container">
      <button type="button" class="card" (click)="isCollapsed[i] = !isCollapsed[i]">
        {{result?.question}}
        <div *ngIf="isCollapsed[i]">
          <ion-icon name="chevron-down-sharp" class="ic"></ion-icon>
          </div>
          <div *ngIf="!isCollapsed[i]">
            <ion-icon name="chevron-up-sharp" class="ic"></ion-icon>
            </div>
      </button>
    </div>
      <div class="accordion-collapse" [ngbCollapse]="isCollapsed[i]">
       {{result?.answer}}
      </div>
  </div>
    <!-- <div *ngFor="let result of faqs_data let i=index">
    <p>
      <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle(); changeselected(i)" [attr.aria-expanded]="false"
        aria-controls="collapseExample">
        {{result?.question}}
      </button>
    </p>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="selected[i]">
      <div class="card">
        <div class="card-body">
          <ion-text> {{result?.answer}}</ion-text>
        </div>
      </div>
    </div>
  </div> -->
   </div>
</ion-content>






<!-- <footer> -->
  <div class="white1"></div>
  <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="profile()">
          <ion-icon src="assets/user.svg" ></ion-icon>
      </ion-tab-button>

      <ion-tab-button>
          <ion-icon src="assets/email.svg" (click)="language()"></ion-icon>
      </ion-tab-button>
      <ion-tab-button>
          <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="fab-button" (click)="home()">
              <ion-fab-button>
                  <ion-icon src="assets/home.svg" (click)="home()"></ion-icon>
              </ion-fab-button>
          </ion-fab>
      </ion-tab-button>

      <ion-tab-button>
          <ion-icon src="assets/setting.svg" (click)="settings()"></ion-icon>
      </ion-tab-button>

      <ion-tab-button>
          <ion-icon src="assets/question.svg" (click)="faq()"></ion-icon>
      </ion-tab-button>
  </ion-tab-bar>


<ion-fab vertical="bottom" horizontal="center" slot="fixed"
  style="background-color: #194E78; margin-bottom: 7px; border-radius: 30px;" (click)="home()">
  <ion-fab-button class="fab-button">
      <ion-icon name="home"></ion-icon>
  </ion-fab-button>
</ion-fab>

<!-- <"footer"> -->


